<h1>Bienvenido a Sinatra!</h1>
<p>Este es un esqueleto de sinatra que armamos para ti</p>

<form action="cool_url" method="POST">
  <input type="text" name="name">
  <input type="submit" value="post cool url">
</form>

<a href="/cool_url">get cool url</a>
<br>
<br>

<textarea rows="4" cols="50">
  This is the text area
</textarea>

<br>
<br>

<form action="">
  <input type="radio" name="gender" value="male"> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
</form>

<br>
<br>

<input type="checkbox" name="option1" value="Option1"> Opcion No.1<br>

<br>
<br>

<select name="mydropdown">
  <option value="Milk">Fresh Milk</option>
  <option value="Cheese">Old Cheese</option>
  <option value="Bread">Hot Bread</option>
</select>