.container {
  margin: 0 auto;
  width: 720px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}

ul {
  margin: 10 auto;
  padding: 0;
}

li {

  background: #f2f2f2;
  background-image: -webkit-linear-gradient(top, #f2f2f2, #d4d4d4);
  background-image: -moz-linear-gradient(top, #f2f2f2, #d4d4d4);
  background-image: -ms-linear-gradient(top, #f2f2f2, #d4d4d4);
  background-image: -o-linear-gradient(top, #f2f2f2, #d4d4d4);
  background-image: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
  padding: 15px 5px;
  text-align: center;
  color: #000000;
  font-size: 17px;
  display: inline-block;
  width: 18%;
}

a {
    text-decoration: none;
    color: black;
}

li:first-child{
  border-radius: 10px 0px 0px 10px;
}

li:last-child{
  border-radius: 0px 10px 10px 0px;
}


li:first-child{
  border-radius: 10px 0px 0px 10px;
}