.container {
  margin: 0 auto;
}

.content {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}

.footer {
  width: 768px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #222222;

}

nav {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}

nav img {
  float: left;
}

nav ul {
  margin: 0;
  /*padding: 10px 0 0 0;*/
  padding: 0;
  list-style-type: none;
  float: left;
  width: 608px;
  height: 46px;
}

nav ul li {
  display: inline;
  float:right;
  width: 20%;
  height: 100%;

}

nav ul li a {
    color:#FFFFFF;
    text-decoration:none;
    float: right;
    padding: 13px 10px 0 0;
    /* border-right: 1px solid #FFFFFF; */ 
}

nav ul li a:hover {
  background-color: #369;
  color: #fff;
}
