  <h1>Bienvenido a aplicacion para subir fotos!</h1>

<form class="signin" action="/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="submit" value="Log in" id="continue_s">
</form>




  
