<h3> WELCOME </h3>

<p>Welcome to your profile: <%=@user.nombre%> <p>

<form action="/logout" method="POST">
    <input type="submit" value="Logout">
</form>

<form action="/" >
    <input type="submit" value="Create short urls">
</form>


