.container {
  margin: 0 auto;
  width: 768px;
  height: 650px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}

.footer {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;

}

.content {
  width:658px;
  float:left;
  padding-right: 10px;
  height: 520px;
  border-bottom: 1px #000000 solid;
}

nav {
  width: 100px;
  float:right;
  background: #ACA7A7;
  height: 520px;
  border-bottom: 1px #000000 solid;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 17px;
}

/*
nav ul li {
  display: inline;
} */


nav ul li a {
  color:#FFFFFF;
  text-decoration:none;
  text-align: center;
  display: block;
  padding-top: 10px;
}

nav ul li a:hover {
  background-color: #369;
}