  <h1>Bienvenido a Sinatra!</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>


<div>
  <button id="login" >Log in</button>
  <form class="login" action="/profile" method="POST">
    <input type="text" name="email" placeholder="Email"> <br>
    <input type="text" name="password" placeholder="Password"><br>
    <input type="submit" value="Continue" id="continue_l">
  </form>
</div>
<div>
  <button id="signin">Sign in</button>
  <form class="signin" action="create_user" method="POST">
    <input type="text" name="username" placeholder="Nombre de usuario"><br>
    <input type="text" name="name" placeholder="Nombre"> <br>
    <input type="text" name="email" placeholder="Email"> <br>
    <input type="text" name="password" placeholder="Password"><br>
    <input type="submit" value="Continue" id="continue_s">
  </form>
</div>
