<h1>USER ADMIN</h1>
<br>

<p>LOGIN<p>
<form action="login" method="POST">
  <input type="text" name="email" placeholder="Email">
  <br>
  <input type="text" name="password" placeholder="Password">
  <br>
  <input type="submit" value="Login">
</form>

<br>
<p>REGISTER</p>
<form action="register" method="POST">
    <input type="text" name="name" placeholder="Name">
    <br>
    <input type="text" name="email" placeholder="Email">
    <br>
    <input type="text" name="password" placeholder="Password">
    <br>
    <input type="submit" value="Register">
</form>

